.todo-item {
    display: flex;
    justify-content: space-between;
    width: 40%;
    /* width: 40%; */
}

.todo-item > a {
    border-style: solid; 
    border-color: black;
    padding: 25px;
    width: 60%
}

.todo-item > button {
    width: 25%;
}

.todo-item-btn {
    background-color: greenyellow;
}

.text-cross {
    text-decoration: line-through;
}